#div-form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ddbea9;
}


#login-form {
    margin: 8rem 0;
    padding: 2rem;
    width: 23rem;
    height: 25rem;
    border-radius: 5px;
    color: white;
    background: #262626;
    box-shadow: 0 10px 10px #000;

}



.login-botao {
    color: white;
    background-color: #944E32;
    border-radius: 0px;
    border-color: #000;
    margin-top: 3rem;
    width: 6rem;
}

.login-botao:hover {
    background-color: #7d3011;
    border-color: #000;
    color: white;
    font-weight: bold;
    
}

.login-div{
    position: relative;
    margin-top: 2rem;
}

.form-input{
    width: 100%;
    padding: 10px 0;
    font-size: 1rem;
    color: #fff;
    border-width: 0;
    border-style: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.form-label{
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 1rem;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.login-div input:focus ~ label,
.login-div input:valid ~ label {
    top: -20px;
    left: 0;
    font-size: .8rem;
}


#registrar{
    margin-top: 3rem;
    text-align: end;
    text-decoration: underline;
}

